@use '../abstracts/' as *;
.cart {
  background: $clr-neutral-white;
  max-width: 20rem;
  position: absolute;
  top: 4rem;
  right: 0;
  margin: 1rem;
  z-index: 4;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);
  display: none;
  &--show {
    display: block;
  }
  &--empty {
    padding: 2rem 2rem;
    width: 20rem;

    & p {
      padding: 2rem 3rem;
      text-align: center;
      display: block;
    }
  }
  &-title {
    font-weight: bold;
    padding: 1rem 0;
    border-bottom: 1px solid $clr-neutral-gray;
    padding: 1rem;
  }
  &-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
  }
  &-image-container {
    width: 3rem;
    & img {
      border-radius: 0.3rem;
    }
  }

  &-delete-container {
    border: none;
    background: none;
  }
  &-btn-container {
    width: 100%;
    padding: 1.2rem;
  }

  &__btn--checkout {
    width: 100%;
    background: $clr-primary-orange;
    border-style: none;
    color: $clr-neutral-white;
    padding-block: 0.8rem;
    border-radius: 0.4rem;
  }

  &__icon--container {
    position: relative;
  }
  &__quantity-preview {
    background: $clr-primary-orange;
    font-size: 0.6rem;
    padding: 0 0.3rem;
    border-radius: 40%;
    color: white;
    font-weight: 700;
    position: absolute;
    top: -0.2rem;
    left: 1rem;
  }
}
