@use '../abstracts/' as *;

.slide {
  &-container {
    margin: 0;
    padding: 0;
    list-style: none;
    pointer-events: none;
    @include media-query(large) {
      border-radius: 1rem;
      pointer-events:auto;
    }
  }
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;

  &[data-active] {
    opacity: 1;
    position: relative;
    z-index: 1;
    transition-delay: 0ms;
  }
  & img {
    @include media-query(large) {
      border-radius: 1rem;
    }
  }
}
