@use '../abstracts/' as *;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: relative;
  max-width: 70rem;
  //margin: 0 auto;
  margin: 1rem;
  @include media-query(large) {
    border-bottom: 1px solid $clr-neutral-gray;
    padding: 2rem 0;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 1rem;
    @include media-query(large) {
      gap: 4rem;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__lists {
    @include media-query(large) {
      margin: 0;
    }
    &-container {
      display: none;
      z-index: 99;
      position: absolute;
      top: 0;
      left: -1rem;
      background: $clr-neutral-white;
      width: 50vw;
      height: 100vh;
      padding: 1rem 2rem 1rem 1rem;
      animation: slide-in 0.3s ease-in;
      @include media-query(large) {
        display: block;
        position: relative;
        width: auto;
        height: auto;
        padding: 0;
        align-self: flex-start;
        animation: none;
        display: flex;
      }
      &--show {
        display: block;
      }
    }

    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: $fw-bold;
    margin-top: 2rem;
    @include media-query(large) {
      display: flex;
      margin-top: 0;
      gap: 2rem;
    }
  }
  &__link {
    text-decoration: none;
  }
  &__avatar-container {
    width: 3rem;
    height: 3rem;
    //margin: 1rem;
    //border: 3px solid $clr-primary-orange;
    //border-radius: 50%;
    &:hover,
    &:focus {
      // padding: 1rem;
      border: 1px solid $clr-primary-orange;
      border-radius: 50%;
    }
  }
  &__avatar {
    
    //border: 3px solid $clr-primary-orange;
    //border-radius: 50%;
  }

  &--close {
    display: block;
    @include media-query(large) {
      display: none;
    }
  }
  &--open {
    display: block;
    @include media-query(large) {
      display: none;
    }
  }
}

//Animation Key Frames
@keyframes slide-in {
  0% {
    transform: translateX(-50vw);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
